@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


:root {
    --corPrincipal: #000;
    --fonteTitulo: 'Roboto Slab', serif;
}

* {
    margin: 0;
    padding: 0;
    
}



header {
    background-color: black;
    display: flex;
    justify-content: space-between;
}
header img{
    height: 80px;
    width: 100%;
}
body a{
    color: white;
    text-decoration: none;
}
body{
    /* background:linear-gradient(rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.253))repeat,  url(../ASSETS/logoFIVB.png); */
    /* background-image: url(../ASSETS/logoFIVB.png); */
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.205);
    display: flex;
    flex-direction: column;
}

.menuHeader {
    display: flex;
    font-family: var(--fonteTitulo);
    color: #fff;
    list-style-type: none;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
#divHistoria{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#divHistoria h1{
    font-size: 50px;
}
#divAmarela{
    margin: 2%;
    border: solid #FFDF00 2px;
    border-radius: 10px;
    height: 220px;
    width: 80%;
    padding: 1%;
    display: flex;
    align-items: center;
    font-size: 28px;
}
.textoHistoria{
    margin-right: 2%;
    margin-left: 10%;
    width: 50%;
}
.textoHistoriaCentral{
    margin-left: 10%;
    margin-right: 10%;
    width: 50%;
}
.textoOrganizacao{
    margin-left: 7%;
    width: 50%;
    font-size: 20px;
    text-align: center;
}
#imagensHistoria{
    margin-right: 2%;
    margin-left: 5%;
    height: 220px;
    border-radius: 8px;
}
#divVerde{
    border: solid #009C3B 2px;
    border-radius: 10px;
    height: 220px;
    width: 80%;
    padding: 1%;
    display: flex;
    align-items: center;
    font-size: 28px;
}
#divAzul{
    margin: 2%;
    border: solid #002776 2px;
    border-radius: 10px;
    height: 220px;
    width: 80%;
    padding: 1%;
    display: flex;
    align-items: center;
    font-size: 28px;
}
#centeredText{
    margin-left: 10%;
    
}
#divOrganizacao{
    display: flex;
}
#divHaikyuu{
    gap: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    font-size: 28px;
}
#divVenhaJogarConosco{
    border-radius: 10px;
    background-color: #87cefa94;
    display: flex;
    font-size: 30px;
}
#takedaSensei{
    border-radius: 10px 0px 0px 10px;
    margin-right: 3%;
    height: 350px;
    width: 30%;
}
#conviteTakedaSensei{
    width: 80%;
    margin-top: 5%;
}
.btnProposta{
    font-family: var(--fonteTitulo);
    font-size: 25px;
    font-weight: 800;
    width: 40%;
    height: 50px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #009C3B;
    margin-left: 25%;
    margin-top: 10%;
}