@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


:root {
    --corPrincipal: #000;
    --fonteTitulo: 'Roboto Slab', serif;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
}

header img {
    height: 80px;
    width: 100%;
}

body a{
    color: white;
    text-decoration: none;
}
.menuHeader {
    display: flex;
    font-family: var(--fonteTitulo);
    color: #fff;
    list-style-type: none;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}


main {
    height: 120vh;
    background-image: url(../ASSETS/fundoSelecaoDosPaises.png);
    background-size: cover;
    background-blend-mode: color-burn;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main button {
    height: 10px;
}

#tituloFIVB {
    font-family: var(--fonteTitulo);
    text-shadow: 4px 4px #000;
    margin-left: 27%;
    color: #fff;
    /* border: solid 3px black; */
}

.bandeiraPaises {
    width: 32%;
    border-radius: 10px;
}

.bandeiraPaises:hover {
    border: solid 3px;
    cursor: pointer;
}

#divBandeirasDeCima {
    display: flex;
    justify-content: space-evenly;
}

#bandeiraBrasil:hover {
    background-image: url(../ASSETS/fundoSelecaoLeon.webp);
    background-size: cover;
}

#divBandeirasDeBaixo {
    display: flex;
    justify-content: space-evenly;
}

#divInfoBrasil {
    font-family: var(--fonteTitulo);
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.438), rgba(0, 0, 0, 0.438))repeat, url(../ASSETS/fundoSelecaoBruninho.avif);
}

.apelidoEquipe {
    margin-top: 25%;
}

.retangulosInfo {
    display: flex;
    margin-top: 30%;
    width: 100%;
    height: 700px;
    color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.retangulosConquistas {
    display: flex;
    width: 100%;
    height: 900px;
    justify-content: center;
    align-items: center;
}

.retangulosInfo h1 {
    width: 10%;
}

.retangulosInfo hr {
    border: solid 3px;
    margin-bottom: 10px;
}

#iconeBruninho {
    width: 370px;
}

.caixaDosNomes {
    width: 25%;
}

.caixaConquista {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: solid black 5px;
}

#logoFIVB {
    width: 500px;
}

#logoOlimpiadas {
    width: 500px;
}

#divTrofeuDeBaixo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.letraPreta {
    margin-top: 10%;
    position: absolute;
    color: #000;
    font-weight: 800
}