@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


:root {
    --corPrincipal: #000;
    --fonteTitulo: 'Roboto Slab', serif;
}

*{
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
}
header img{
    height: 80px;
    width: 100%;
}
.menuHeader {
    display: flex;
    font-family: var(--fonteTitulo);
    color: #fff;
    list-style-type: none;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}   

body{
    background-image: url(../ASSETS/fundoHaikyuu.png);
    background-size: cover ;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
#divEscolha{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;

}
.texto{
    margin-top: 10%;
    color: white;
    font-size: 40px;
    width: 30%;
}
#divBotaoAnime{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-top: 5%;
}
.btnProposta{
    font-family: var(--fonteTitulo);
    font-size: 25px;
    font-weight: 800;
    width: 40%;
    height: 50px;
    color: white;
    border: none;
    border-radius: 10px;
}
