@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


:root {
    --corPrincipal: #000;
    --fonteTitulo: 'Roboto Slab', serif;
}

* {
    font-family: var(--fonteTitulo);
    margin: 0;
    padding: 0;
}

main {
    background:linear-gradient(rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.253))repeat,  url(../ASSETS/fundoTelaIncial.jpg);
    width: 100%;
    height: 100vh;
    /* position: fixed; */
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
}
header img{
    height: 80px;
    width: 100%;
}
body a{
    color: white;
    text-decoration: none;
}
body{
    background-color: #f5f1e6;
    background:linear-gradient(rgba(207, 198, 178, 0.432), rgba(0, 0, 0, 0.253))repeat,  url(../ASSETS/logoFIVB.png);
    background-image: url(../ASSETS/logoFIVB.png);
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.menuHeader {
    display: flex;
    font-family: var(--fonteTitulo);
    color: #fff;
    list-style-type: none;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
#divDash{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#divGraficos{
    width: 80%;
}