@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


:root {
    --corPrincipal: #000;
    --fonteTitulo: 'Roboto Slab', serif;
}

*{
    font-family: var(--fonteTitulo);
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
}
header img{
    height: 80px;
    width: 100%;
}
body a{
    color: white;
    text-decoration: none;
}
.menuHeader {
    display: flex;
    font-family: var(--fonteTitulo);
    color: #fff;
    list-style-type: none;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}   

body{
   
    
    height: 100vh;
    width: 100%;
}
#divEscolha{
    background-image: url(../ASSETS/fundoHaikyuu.png);
    background-size: cover ;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;

}
#divTexto{
    display: flex;
    justify-content: center;
    background-color: #87cefa8c;
    font-size: 40px;
    width: 35%;
    margin-top: 10%;
    border-radius: 10px;
    padding: 3%;
}
#divBotaoAnime{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-top: 5%;
}
.btnProposta{
    font-family: var(--fonteTitulo);
    font-size: 25px;
    font-weight: 800;
    width: 40%;
    height: 50px;
    color: white;
    border: none;
    border-radius: 10px;
}
.btnProposta:hover{
    cursor: pointer;
}
#divNao{
    height: 100vh;
    width: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.253))repeat,  url(../ASSETS/fundoNao.png);
    background-size: cover;
    gap: 15%;
    flex-direction: column;
    align-items: center;
}
.textoNao{
    color: white;
    font-size: 30px;
    width: 40%;
}
.divFala{
    background-color: #87CEFA;
    width: 80%;
    border-radius: 10px;
    color: black;
    font-size: 30px;
    padding: 1%;
}
#divSim{
    height: 100vh;
    width: 100%;
    /* background:linear-gradient(rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.253))repeat,  url(../ASSETS/fundoDivSim.jpg); */
    background-size: cover;
    justify-content: space-evenly;
}
.sets{
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.sets p{
    font-size: 25px;
}
.sets img{
    height: 100px;
}
#divVitoria{
    height: 100vh;
    width: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.253))repeat,  url(../ASSETS/fundoVitoria.webp);
    background-size: cover;
}
#divDerrota{
    height: 100vh;
    width: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.253))repeat,  url(../ASSETS/fundoDerrota.jpg);
    background-size: cover;
}