@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


:root {
    --corPrincipal: #000;
    --fonteTitulo: 'Roboto Slab', serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonteTitulo);
    overflow-x: hidden;
}

main {
    background:linear-gradient(rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.253))repeat,  url(../ASSETS/fundoTelaIncial.jpg);
    width: 100%;
    height: 100vh;
    /* position: fixed; */
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
}
header img{
    height: 80px;
    width: 100%;
}
body a{
    color: white;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
}

.menuHeader {
    display: flex;
    font-family: var(--fonteTitulo);
    color: #fff;
    list-style-type: none;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
#divFundoComLogo{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.253))repeat,  url(../ASSETS/fotoSobreMim2.jpg);
    background-size: cover;
}
#logoSobreposta{
    height: 150px;
    margin-top: 20%;
    margin-left: 55%;
}
#conatiner{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
#divSobreMim{
    margin-top: 1%;
    padding: 3%;
    background-color: white;
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid black 3px; */
    border-radius: 10px;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5)

}
#tituloSobreMim{
    /* color: #FFDF00; */
    text-align: center;
    
}
#minhaFoto{
    height: 250px;
    width: 15%;
    border-radius: 80px;
    margin-left: 43%;
    position: absolute;
    margin-top: 47%;
}
#meuNome{
    /* color: #fff; */
    width: 15%;
    text-align: center;
}
.separadorNome{
    height: 7px;
    width: 25%;
    border-radius: 10px;
    border: none;
}